# Byte-compiled / optimized / DLL files
__pycache__/

# Visual Studio
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints
.ipynb

# installation files
env*
farad.egg-info
dist
